# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/

# Environment and virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/
*.env

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~
